.TopbarAppBar-root.MuiAppBar-root {
	box-shadow: none;
	border-bottom: solid 1px #E6E9ED;
}

.TopbarInput-root {
	border: solid 1px transparent;
	border-radius: 5px;
	width: 98px;
	font-family: Mulish;
}

.TopbarInput-root.TopbarInput-focused {
	border-color:#E6E9ED;
}

.TopbarSelect-root {
	color: #677C95;
	font-family: Mulish;
	border-radius: 5px;
	border: solid 1px #E6E9ED;
	height: 29px;
}


.TopbarSelect-root .MuiSelect-root.TopbarSelect {
    height: 100%;
    font-size: 12px;
    line-height: 15px;
    font-weight: 600;
    box-sizing: border-box;
    padding-top: 0;
	padding-bottom: 0;
	padding-left: 13px;
	padding-right: 36px;
	background: transparent;
	position: relative;
	width: 90px;
}

@media (min-width: 768px) {
	.TopbarInput-root {
		width: calc(98px + 50 * (100vw - 768px) / 598);
	}
	.TopbarSelect-root {
		height: calc(29px + 2 * (100vw - 768px) / 598);
	}

	.TopbarSelect-root .MuiSelect-root.TopbarSelect {
		padding-right: 25px;
		width: calc(90px + 7 * (100vw - 768px) / 598);
	}
}


@media (min-width: 1366px) {
	.TopbarInput-root {
		width: calc(148px + 42 * (100vw - 1366px) / 554); 
	}
	.TopbarSelect-root {
		height: calc(31px + 9 * (100vw - 1366px) / 554);
	}

	.TopbarSelect-root .MuiSelect-root.TopbarSelect {
		padding-right: calc(27px + 9 * (100vw - 1366px) / 554);
		width: calc(97px + 21 * (100vw - 1366px) / 554);
	}
}

@media (min-width: 1920px) {
	.TopbarSelect-root {
		height: 40px;
	}

	.TopbarSelect-root .MuiSelect-root.TopbarSelect {
		padding-right: 36px;
		width: 118px;
	}
}

.StyledButtonGroup-root.MuiButtonGroup-root {
	border: solid 1px #E6E9ED;
	border-radius: 5px;
}
