.MuiSelect-select.MuiSelect-select:focus {
    background-color: #FFF;
}
/* 
.MuiInput-underline:hover:not(.Mui-disabled):before {
    border-bottom: none !important;
    height: 59px;
}

.MuiInputBase-root.MuiInput-underline:before {
    border-bottom: none;
} */